body {
	font-family: 'Arial', sans-serif;
	background-color: #f4f4f4;
	margin: 20px;
	padding: 20px;
}

table {
	width: 100%;
	border: 1px solid black;
	border-collapse: collapse;
	margin-top: 20px;
}

th,
td {
	padding: 10px;
	border: 1px solid black;
	text-align: left;
	min-width: 70px;
}

fieldset {
	margin: 10px 10px;
}

button {
	width: 100px;
	height: 40px;
}